/* Extra Large desktops */

@media (min-width: 1600px){
    .category-img {
        overflow: hidden;
        height: 454px;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .collection-img-section .collection_img_body {
        height: 560px;
    }
    .collection-img-section h4 {
        font-size: 30px;
    }
    .dynamicslider-2 .category-img{
        height: 445px;
    }
    .dynamicslider-2 .category-img a img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    #multiple_slider .custom-slick-button-next {
        right: -10px;
    }

    .dynamicslider-3 .category-img{
        /* height: 380px; */
    }
}
@media (min-width: 1900px){
    .dynamicslider-2 .category-img{
        height: 535px;
    }
    .dynamicslider-2 .category-img a img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    #multiple_slider .custom-slick-button-next {
        right: -18px;
    }
    .dynamicslider-3 .category-img{
        /* height: 435px; */
    }
}
@media (max-width: 1599px) {
    .category-img {
        height: 393px;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .custom-slick-button-next {
        right: 5px;
    }
    .collection-img-section .collection_img_body {
        height: 490px;
    }
    .section-gap {
        margin-top: 15px;
    }
    #multiple_slider .custom-slick-button-next {
        right: -5px;
    }
    .dynamicslider-2 .category-img {
        height: 385px;
    }
    .dynamicslider-2 .category-img a img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    #dynamicslider_3_body .custom-slick-button-next {
        right: -8px;
    }
}
@media (max-width: 1300px) {
    .category-img {
        height: 335px;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .custom-slick-button-next {
        margin-left: auto;
        right: 8px;
    }
    .slider-container {
        margin: 10px 0px 20px 0px;
    }
    #multiple_slider .custom-slick-button-next {
        right: -2px;
    }
    #multiple_slider h4 {
        font-size: 30px;
        padding: 20px 0px 10px 0px;
    }
    .dynamicslider-2 .category-img {
        height: 328px;
    }
    #dynamicslider_3_body .custom-slick-button-prev {
        left: 15px;
    }
}
@media (max-width: 1199px) {
    .category-img {
        height: 275px;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .slider-right-text {
        padding-left: 10px;
    }
    .collection-img-section{
        margin-top: 10px;
    }
    .collection-img-section h4 {
        font-size: 22px;
    }
    .collection-img-section .collection_img_body {
        height: 390px;
    }
    .collection-img-section a h4 {
        margin: 10px 0px 5px 0px;
    }
    #multiple_slider h4 {
        font-size: 25px;
        padding: 20px 0px 15px 0px;
    }
    .dynamicslider-2 .category-img {
        height: 275px;
    }
    #multiple_slider .custom-slick-button-next {
        right: 0px;
    }
    #enorsia_onYou{
        padding: 15px 0px 0px 0px !important;
    }
    #enorsia_onYou h2{
        font-size: 30px;
    }
    #enorsia_onYou h4{
        margin: 10px 0px 0px 0px;
        font-size: 20px;
    }
    #enorsia_onYou a{
        margin: 10px 0px 15px 0px !important;
        font-size: 16px;
    }
    .dynamicslider-3 .category-img {
        margin: 0px 0px;
    }
    #dynamicslider_3_body .custom-slick-button-next {
        right: 0px;
    }
    #dynamicslider_3_body .custom-slick-button-prev {
        left: 2px;
    }
}
/*******************************************************************************************************************************************************************************************/
@media (max-width: 1024px) {
    .slider-container {
        margin: 0px 0px 10px 0px;
    }
    .custom-slick-button-next {
        right: 9px;
    }
    .dynamicslider-2 .category-img {
        height: 265px;
    }
    .enorsia-container {
        padding: 10px 15px 10px 15px;
    }
}
/*******************************************************************************************************************************************************************************************/
@media (max-width: 991px) {
    .slider-right-text {
        padding-left: 10px;
    }
    .collection-img-section h4 {
        font-size: 20px;
    }
    .category-img {
        height: 314px;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .slick-slide {
        margin: 0px 5px;
    }
    .custom-slick-button-next {
        right: 10px;
    }
    .collection-img-section .collection_img_body {
        height: 300px;
    }
    .collection-img-section a h4 {
        margin: 10px 0px 5px 0px;
    }
    .dynamicslider-2 .category-img {
        height: 365px;
    }
    .custom-slide-title {
        top: -30px;
        font-size: 45px;
    }
    .dynamicslider-3 .category-img {
        width: 95% !important;
    }
    .shared-by {
        bottom: 0px;
    }
    #dynamicslider_3_body .custom-slick-button-next {
        right: 10px;
    }
    #dynamicslider_3_body .custom-slick-button-prev {
        left: -7px;
    }
}
/*******************************************************************************************************************************************************************************************/
@media (max-width: 767px) {
    .extra-mergin {
        margin-top: 183px !important;
    }
    .category-img {
        height: 365px;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .slider-right-text {
        padding-left: 13px;
    }
    .collection-img-section h4 {
        font-size: 21px;
    }
    .collection-img-section .collection_img_body {
        height: 395px;
    }
    .collection-img-section a h4{
        margin: 10px 0px 5px 0px;
    }
    #multiple_slider .custom-slick-button-next {
        right: 8px;
    }
    .dynamicslider-2 .category-img {
        height: 415px;
    }
    #multiple_slider h4 {
        font-size: 23px;
    }
    .collection-img-section p u {
        margin-bottom: 10px;
        display: block;
    }
    #enorsia_onYou h2 {
        font-size: 28px;
        margin: 5px 0px 0px 0px;
    }
    #enorsia_onYou h4 {
        font-size: 18px;
        padding: 0px 20px;
        display: inline-block;
    }
    #dynamicslider_3_body .custom-slick-button-next {
        right: 15px;
    }
}
/*******************************************************************************************************************************************************************************************/
@media (max-width: 575px) {
    .nav-menu > li > span {
        padding: 10px 0px !important;
        font-size: 14px !important;
        color: #000 !important;
    }
    .nav-menu > li > a {
        padding: 10px 5px !important;
        font-size: 15px !important;
        color: #000 !important;
    }
    #nav-slider {
        position: relative;
        left: 0%;
        flex-wrap: wrap;
    }
    #discount_banner {
        margin-top: -20px !important;
    }
    .sub-nav-container {
        left: -3% !important;
    }
    #nav-slider li a:last-child {
        padding-right: 0px;
    }
    .slider-right-text {
        padding: 5px 10px;
    }
    .custom-slick-button {
        background-color: rgba(255, 255, 255, 50%);
        width: 30px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 16px;
        margin: 0 10px;
        cursor: pointer;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .slider-btn {
        margin-top: 10px;
        font-size: 13px;
    }
    .slider-title {
        font-size: 20px;
    }
    .slider-desc {
        margin-top: 10px;
        margin-bottom: 5px;
        font-size: 15px;
    }
    .collection-img-section h4 {
        font-size: 17px;
    }
    .cart-container {
        left: -260px;
    }
    .logo-nav {
        padding: 0 15px;
    }
    .category-img {
        overflow: hidden;
        height: 375px;
        width: 100%;
    }
    .category-img img {
        object-fit: cover;
        width: 100%;
        height: 100% !important;
    }
    .custom-slick-button-next {
        right: 0px;
    }
    .collection-img-section .collection_img_body {
        height: 400px;
    }
    .dynamicslider-2 .category-img {
        height: 365px;
    }
    #multiple_slider h4 {
        font-size: 20px;
        padding: 20px 15px 15px 15px;
    }
    #multiple_slider .custom-slick-button-next {
        right: 2px;
    }
    .collection-img-section p u{
        font-size: 15px;
    }
    .collection-img-section p u:first-child{
        margin-bottom: 15px;
    }
    #enorsia_onYou h2 {
        font-size: 20px;
        margin: 5px 0px 0px 0px;
    }
    #enorsia_onYou h4 {
        margin: 10px 0px 0px 0px;
        font-size: 15px;
    }
    #enorsia_onYou a {
        margin: 10px 0px 15px 0px !important;
        font-size: 14px;
    }
    #dynamicslider_3_body .custom-slick-button-prev {
        left: 0px;
    }
    #dynamicslider_3_body .custom-slick-button-next {
        right: 10px;
    }
    .shared-by {
        font-size: 14px;
    }
    #subscribe_body{
        padding-top: 0px !important;
    }
    .footer-signu-container {
        background-color: black;
        padding-top: 25px !important;
        padding-bottom: 30px !important;
    }
    .sign-up-text {
        padding-left: 5px;
        padding-right: 5px;
        margin-bottom: 20px;
        font-size: 15px;
    }
    .footer-signUp-content span {
        font-size: 12px;
    }
    #footer_icon_part {
        padding: 15px 0px;
    }
    #accordionExample .accordion-item button{
        padding: 10px 0px;
    }
    #accordionExample .accordion-item button p{
        font-size: 14px;
        margin-bottom: 0px !important;
    }
    #accordionExample .accordion-item .accordion-body{
        padding-top: 0px !important;
    }
    .payment-container-f {
        display: flex;
        flex-flow: row wrap;
        gap: 0px;
        margin-bottom: 20px;
    }
.copy_right_text span{
    font-size: 14px;
}
.pay-securely {
    font-size: 15px;
}
}
/*******************************************************************************************************************************************************************/
@media (max-width: 500px){
    .category-img {
        height: 310px;
    }
    .dynamicslider-2 .category-img {
        height: 318px;
    }
}
/*******************************************************************************************************************************************************************/
@media (max-width: 430px){
    .collection-img-section .collection_img_body {
        height: 325px;
    }
    .category-img {
        height: 240px;
    }
    .dynamicslider-2 .category-img {
        height: 265px;
    }
}
/*******************************************************************************************************************************************************************/
@media (max-width: 350px){
    .collection-img-section .collection_img_body {
        height: 250px;
    }
    .category-img {
        height: 235px;
    }
    .dynamicslider-2 .category-img {
        height: 258px;
    }
}
/*******************************************************************************************************************************************************************/
@media (max-width: 333px){
    .extra-mergin {
        margin-top: 230px !important;
    }
    .category-img {
        overflow: hidden;
        height: 224px;
        width: 100%;
    }
}